*{
    padding: 0%;
    margin: 0%; 
    box-sizing: border-box;
}
.webpage{
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: self-start; 
    overflow-x: hidden;
}
.container .nav{
    position: absolute;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 99vw;
    transition: all 0.3s;
    position: fixed;
}
.container .nav .logo{
    display: flex;
    height: 50px;
    width: 140px;
    position: relative;
    background-color: white;
}
.container .nav .submenu{
    position: relative;
    display: flex;
}
.container .nav .submenu a{
    margin-left: 40px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px 2px;
    background-color: transparent;
    border: none;
    padding: 5px;
    text-decoration: underline;
    transition: all 0.4s;
    display: inline;
}
.container .nav .submenu a:hover{
    transform: scale(1.3,1.3);
    background-color: white;
    color: maroon;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold
}
.container .nav .checkbtn{
    font-size: 28px;
    color: white;
    margin-right: 40px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    display: none;
    background-color: rgba(0, 0, 0,0.8);
    padding: 5px 10px;
    border-radius: 10px;
}
.container .nav #checkk{
    display: none;
}
.container .nav #checkk:checked ~ .submenu{
    left: 0;
}

@media screen and  (max-width:900px) {
    .container .nav{
        flex-direction: column;
    }
    .container .nav .checkbtn{
        display: block;
    }
    .container .nav .logo{
        position: fixed;
        left: 5%;
        align-self: flex-start;
    }
    .container .nav .submenu{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        margin-top: 8%;
        top: 60px;
        left: -105%;
        width: 103%;
        height: 80vh;
        transition: all 0.3s;
        text-align: center;
        background-color:rgba(241, 138, 138, 0.5);
    }
    .container .nav .submenu a{
        font-size: 25px;
        margin: 20px 0px;
        color: white;
        text-shadow: 2px 1px 2px black;
    }
    .container .nav .submenu a:hover{
        background-color: maroon;
        color: white;
    }
}
@media screen and  (max-width:450px) {
    .container .nav .submenu{
        margin-top: 8%;
        top: 53px;
        height: 88vh;
    }
    .container .nav .submenu a{
        font-size: 25px;
        margin: 15px 0px;
        color: white;
        text-shadow: 2px 1px 2px black;
    }
}

@media screen and (min-width:200px) and (max-width:450px) {
    .container .nav .submenu a{
        font-size: 20px;
        padding: 20px 0px;
    }
}
@media screen and (min-width:900px) {
    .container .nav{
        background:linear-gradient(to bottom,rgba(0, 0, 0.6),rgba(128, 0, 0,0.6)) ;
    }
}

/* section */
.container .section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container .top{
    background-color: rgba(0, 0, 0,1);
    width: 100%;
    color: white;
    font-size: 12px;
    margin-top:90px;
}
.container .top marquee{
    text-align: center;
}
.container .section .top img{
    height: 49px;
    width: 90px;
    color: white;
    cursor: pointer;
    align-self: center;
}
@media screen and (min-width:300px) and (max-width:450px) {
    .container .section .top{
        font-size: 8px;
    }
    .container .section .top img{
        height: 30px;
        width: 50px;
        margin-bottom: 7px;
    }
}
@media screen and (min-width:450px) and (max-width:768px) {
    .container .section .top{
        font-size: 11px;
    }
    .container .section .top img{
        height: 50px;
        width: 75px;
        margin-bottom: 10px;
    }
}
.container .section .lokiposter{
    background-color: black ;
    width: 100vw;
    height: 68vh;
    text-align: center;
}
.container .section .lokiposter img {
    width: 80vw;
    height: 68vh;
}
@media screen and (min-width:300px) and (max-width:450px) {
    .container .section .lokiposter{
        height: 45vh;
    }
    .container .section .lokiposter img {
        height: 45vh;
    }
}
@media screen and (min-width:450px) and (max-width:850px) {
    .container .section .lokiposter{
        height: 55vh;
    }
    .container .section .lokiposter img {
        height: 55vh;
    }
}
.container .section .content {
    position: absolute;
    top: 69%;
    color: white;
    align-self: flex-start;
    padding-left: 40px;
    text-align: center;
    font-family: Trebuchet MS;
}
.container .section .content h1 {
    font-size: 40px;
}
.container .section .content p {
    font-size: 20px;
}
@media screen and (min-width:300px) and (max-width:450px) {
    .container .section .content {
        top: 55%;
    }
    .container .section .content h1 {
        font-size: 20px;
    }
    .container .section .content p {
        font-size: 10px;
    }
}
@media screen and (min-width:450px) and (max-width:900px) {
    .container .section .content {
        top: 65%;
    }
    .container .section .content h1 {
        font-size: 30px;
    }
    .container .section .content p {
        font-size: 15px;
    }
}

/* movie list */
.container .list1{
    background:linear-gradient(to bottom,aliceblue,white);
    width: 85vw;
    display: grid;
    align-items: center;
    justify-content:space-between;
    grid-template-columns: auto auto auto auto auto;
    position: absolute;
    top: 86%;
    overflow-x: hidden;
}
.container .list1 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-family: Trebuchet MS;
}
.container .list1 div img{
    height: 260px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.container .list1 div img:hover {
    transform: translate(0px,-10px);
}
.container .list1 div p{
    font-weight: bold;
    padding: 5px;
}
.container .list1 div:hover p {
    color: red;
}
.container .list1 div span{
    color: grey;
    font-size: 15px;
    padding: 5px;
}
@media screen and (min-width:300px) and (max-width:450px) {
    .container .list1{
        top: 64%;
        overflow-x: scroll;
    }
    .container .list1 div{
        justify-self: center;
    }
    .container .list1 div img{
        height: 200px;
        width: 150px;
    }
    .container .list1 div p, span{
        font-size: 14px;
        padding: 3px;
    }
}
@media screen and (min-width:450px) and (max-width:768px) {
    .container .list1{
        overflow-x: scroll;
        top: 78%;
    }
    .container .list1 div{
        justify-self: center;
    }
    .container .list1 div img{
        height: 200px;
        width: 150px;
    }
    .container .list1 div p, span{
        font-size: 14px;
        padding: 3px;
    }
}
@media screen and (min-width:768px) and (max-width:900px) {
    .container .list1{
        top:78%;
        overflow-x: scroll;
    }
    .container .list1 div img{
        height: 230px;
        width: 170px;
    }
}
@media screen and (min-width:900px) and (max-width:1200px) {
    .container .list1{
        top:88%;
        overflow-x: scroll;
    }
    .container .list1 div img{
        height: 230px;
        width: 150px;
    }
}
@media screen and (min-width:1200px) and  (max-width:1380px) {
    .container .list1{
        overflow-x: scroll;
    }
    .container .list1 div img{
        height: 230px;
        width: 170px;
    }
}

/* container2 */
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Trebuchet MS;
    overflow: hidden;
    margin-top:25%;
}
.container2 .middle{
    justify-self: end;
    align-self: flex-end;
    display: flex;
}
.container2 .middle .image1{
    height: 80vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
}
.container2 .middle .image2{
    display: none;
}
.container2 .middle button{
    padding: 10px 20px;
    border-left: 5px solid maroon;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    position: absolute;
    left: 23%;
    margin-bottom: 6%;
    align-self: flex-end;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
    animation:jump 0.5s infinite;
    animation-direction: alternate-reverse;
}
@keyframes jump {
    from{
        transform: rotate(10deg) scale(1,1);
    }
    to{
        transform: rotate(-5deg) scale(1.1,1.1);
    }
}
.container2 .middle button:hover{
    transform: scale(1.5,1.5);
    background-color: gray;
    text-decoration: underline;
    color: black;
    border-left: 5px solid maroon;
}

@media screen and (min-width:300px) and (max-width:450px) {
    .container2{
        margin-top: 50%;
    }
    .container2 .middle{
        flex-direction: column;
        align-self:center ;
    }
    .container2 .middle .image1{
        display: none;   
    }
    .container2 .middle .image2{
        display: block;
        height: 300px;
        width: 280px;
        border-radius: 10px;
    }
    .container2 .middle button{
        align-self: center; 
        margin-top: 15px;
        position: static;
        padding:10px 15px;
        font-size: 16px;
        color: black;
        border-left: 3px solid maroon;
    }
}
@media screen and (min-width:450px) and (max-width:650px) {
    .container2{
        margin-top: 45%;
    }
    .container2 .middle{
        flex-direction: column;
        align-self:center ;
    }
    .container2 .middle .image1{
        display: none;   
    }
    .container2 .middle .image2{
        display: block;
        height: 300px;
        width: 280px;
        border-radius: 10px;
    }
    .container2 .middle button{
        align-self: center; 
        margin-top: 15px;
        position: static;
        padding:10px 15px;
        font-size: 16px;
        color: black;
        border-left: 3px solid maroon;
    }
}
@media screen and (min-width:650px) and (max-width:1000px) {
    .container2{
        margin-top: 30%;
    }
    .container2 .middle{
        flex-direction: column;
        position: relative;
        justify-content: end;
        align-items: end;
    }
    .container2 .middle .image1{
        display: block;
        object-fit: contain;
    }
    .container2 .middle .image2{
        display: none;  
    }
    .container2 .middle button{
        padding:10px 15px;
        margin-bottom: 15%;
        position: absolute;
        font-size: 16px;
        color: white    ;
        border-left: 3px solid maroon;
    }
}

/*Movie  list2 */
.container2 h1{
    margin-top: 40px;
    margin-left: 30px;
    align-self: flex-start;
    border-bottom: maroon 5px solid;
}
.container2 .list2{
    width: 85vw;
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: auto auto auto auto auto;
}
.container2 .list2 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-family: Trebuchet MS;
}
.container2 .list2 div img{
    height: 260px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.container2 .list2 div img:hover {
    transform: translate(0px,-10px);
}
.container2 .list2 div p{
    font-weight: bold;
    padding: 5px;
}
.container2 .list2 div:hover p {
    color: red;
}
.container2 .list2 div span{
    color: grey;
    font-size: 15px;
    padding: 5px;
}
@media screen and (min-width:300px) and (max-width:570px) {
    .container2 h1{
        font-size: 22px;
    }
    .container2 .list2{
        grid-template-columns: auto auto;
    }
    .container2 .list2 div{
        padding: 8px;
        padding-bottom: 15px;
    }
    .container2 .list2 div img{
        height: 200px;
        width: 140px;
    }
}
@media screen and (min-width:570px) and (max-width:768px) {
    .container2 h1{
        font-size: 27px;
    }
    .container2 .list2{
        grid-template-columns: auto auto auto;
    }
    .container2 .list2 div{
        padding: 12px;
        padding-bottom: 15px;
    }
    .container2 .list2 div img{
        height: 230px;
        width: 170px;
    }
}
@media screen and (min-width:768px) and (max-width:1100px) {
    .container2 h1{
        font-size: 30px;
    }
    .container2 .list2{
        grid-template-columns: auto auto auto auto;
    }
    .container2 .list2 div{
        padding: 12px;
        padding-bottom: 15px;
    }
    .container2 .list2 div img{
        height: 230px;
        width: 170px;
    }
}
@media screen and (min-width:1100px) and (max-width:1400px) {
    .container2 .list2 div{
        padding: 12px;
        padding-bottom: 15px;
    }
    .container2 .list2 div img{
        height: 260px;
        width: 190px;
    }
}

/* footer */ 
.webpage .footer1{
    background-color:rgba(18,17,19,0.6);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    padding-bottom: 0%;
}
.webpage .footer1 h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.webpage .footer1 i{
    font-size: 35px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
.webpage .footer1 i:hover{
    transform: scale(1.3,1.3);
    text-shadow: 2px 2px 2px white,0px -2px 2px white,-2px 0px 2px white,-2px -2px 2px white ;
}
.webpage .footer1 div{
    margin-top: 16px;
    font-size: 14px;
    padding: 8px;
    color: white;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.webpage .footer1 div span{
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s;
}
.webpage .footer1 div span:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
}
@media screen and (min-width:300px) and (max-width:550px) {
    .webpage .footer1 i{
        padding: 5px;
        font-size: 28px;
    }
    .webpage .footer1 div{
        margin-top: 10px;
        font-size: 3px;
        gap: 10px; 
    }
    .webpage .footer1 h5{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .webpage .footer1 div span{
        font-size: 8px;
    }
    .webpage .footer1{
        padding: 5px;
    }
}
@media screen and (min-width:550px) and (max-width:1100px) {
    .webpage .footer1 i{
        padding: 8px;
        font-size: 30px;
    }
    .webpage .footer1 div{
        margin-top: 13px;
        font-size: 12px;
        padding: 8px;   
        gap: 10px; 
    }
    .webpage .footer1 h5{
        font-size: 20px;
        margin-bottom: 13px;
    }
    .webpage .footer1 div span{
        font-size: 13px;
    }
    .webpage .footer1{
        padding: 8px;
    }
}